
.dropdown {
    display: inline-block;
    position: absolute;
    right: 32%;
}
@media (max-width: 768px) {
    .dropdown {
        display: inline-block;
        position: absolute;
        right: 1%;
    }
    .dropdown-content {
        color: #f4f1f1;
        display: none;
        position: absolute;
        right: 20%;
        background-color: #faf9f9;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        min-width: 160px;
        border-radius: 4px;
    }
}

.dropdown-button {
    display: flex;
  color: rgb(250, 241, 241);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    right: 50%;
    margin-right: -50%;
    margin-top: 0.6px;
   
}

.dropdown-icon {
    margin-left: 5px;
    margin-top: 4px;
    font-size: 9px;
}

.dropdown-content {
    color: #f4f1f1;
    display: none;
    position: absolute;
    background-color: #faf9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 4px;
}

.dropdown-item {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    z-index: 9999;
}

.dropdown-item:hover {
    border-radius: 4px;
    background-color: #ddd;
}
/* dark-mode.css */

body.dark-mode {
background-color: rgb(34, 39, 46);
color: #ffffff;
transition: 1s ease;
/* Add your custom dark mode styles here */
.dropdown-button{
color: #fff;
}
.dropdown-content{
    color: #eae4e4;
    background-color: rgba(46, 53, 63, 0.944);
}
.dropdown-item {
color: #faf9f9;
}
.dropdown-item:hover {
    color: #faf9f9;
    background-color: #333;
    }
    
.jumbotron{
    color: #faf9f9;
    background-color: rgb(34, 39, 46);
    /* border: 1px solid grey; */
}
.card-body{
    background-color: rgba(46, 53, 63, 0.944);
    color: white;
    /* backdrop-filter: blur(50px);  */
     border: none;
     border-radius: 0px;
}

.st0{
    fill:#dbd8d8;
}
.card-img-top.img-fluid{
    border-radius: 0px;
    border: none;  
}

 .card{
    border-radius: 0px;
    border: none
 }
 .text-center{
    border-radius: 0px;
 }
.col-md-6.offset-md-3{   
    border-radius: 8px;
    backdrop-filter: blur(50px);
    background-color: rgba(46, 53, 63, 0.944);
}
/* director */
.custom-box-1{
    border: none;
    background-color:rgba(46, 53, 63, 0.944) ;
}
.custom-box-1 img {
    border: none;
}
.custom-box-2{
    border: none;
    background-color:rgba(46, 53, 63, 0.944) ;
}
.custom-box-2 img {
    border: none;
}
/* notifications */
#notification-modal {
    background-color: rgba(46, 53, 63, 0.944);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .close-button {
    color: #eae4e4;
    background-color: rgb(229, 95, 95);
    padding-right:5px;
    padding-left:5px;
  }
}

/* Add more styles for specific elements if needed */
