/* Media query for screens smaller than 600 pixels */
@media only screen and (max-width: 600px) {
    header {
      
      text-align: left;
      padding-right:1280px;
      background-image: url(https://wallpapercave.com/wp/wp4865484.jpg);
      background-size: cover;
      
    }
  .header-text1{
    text-align: right;
    padding-right: 800px;
    font-size: 54px;
    white-space: nowrap;
    
  }
  .header-text2{
    text-align: right;
    padding-right: 800px;
    font-size: 44px;
    white-space: nowrap;
    
  }
  .header-text3{
    text-align: right;
    padding-right: 800px;
    font-size: 34px;
    white-space: nowrap;
    
  }
  .header-text4{
    text-align: right;
    padding-right: 800px;
    font-size: 14px;
    white-space: nowrap;
    
  }
  .logo-container img {
    width: 250px;
    height: auto;
    position: absolute;
    left: 1%;
    top: 5%;
  }

  nav { 
    white-space: nowrap;
    background-color: #1285a8;
    z-index: 1;
    padding-right: 1285px;
   }
   nav a{
    margin-right: 3px;
   } 
   .loginbtn{
    position: absolute;
    right: -211%;
   }
   .admission-img-btns{
    margin-left:640px;
   }
   .admission-img-btn{
   padding-left: 140px;
   padding-right: 140px;
   padding-top: 50px;
   padding-bottom: 10px;
   }
   .impactfulimg{
    position: relative;
    width:90px;
    height:auto;
    top: 20px;
   }
   .impactfulh3{
    bottom:-35px;
   }
   /*********Space container**********/
   .space-container{
    width:310%;
   }
   .space-container h2{
font-size: 100px;
   }
   .space-container h2 span{
    font-size: 38px;
    font-weight:500;
    letter-spacing:10px;
    line-height: 150px;
    left:25%;
    position: relative;
  }

  /*********About Section**********/
  .about-large-photo img {
    width: 1000px;
    height: auto;
  }
    /* Additional styles for smaller screens */
  }



  
  /* Media query for screens between 601 and 900 pixels */
  
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
      font-size: 16px;
    }
  
    /* Additional styles for screens between 601px and 900px */
  }
  
  /* Media query for screens larger than 900 pixels */
  
  @media only screen and (min-width: 901px) {
    body {
      font-size: 18px;
    }
  
    /* Additional styles for screens larger than 900px */
  }



  
