body {
  background-color: #fff;
   margin: 0;
   padding: 0;
   font-family: 'Arial', sans-serif;
   color: #000000; /* Add a black background to the whole page */
   /* Set text color to white for better visibility */
 }
 
 header {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #ffffff;
   /* background-color: #efeeee; */
   text-align: left;
   padding: 5px;
   background-image: url(https://wallpapercave.com/wp/wp4865484.jpg);
   background-size: cover;
   
 }
 /* Default styles for all devices */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}



 
 .logo-container,
 .header-text1,
 .header-text2,
 .header-text3,
 .header-text4 {
   opacity: 0;
   transform: translateX(100%);
 }
 
 .logo-container {
   animation: moveAndFadeInLogo 1.5s forwards, rotateLogo 2s linear 0.3s forwards;
   position: relative;
 }
 
 .logo-container img {
   width: 300px;
   height: auto;
   position: absolute;
   left: 1%;
   top: 5%;
 }
 
 .header-text1,
 .header-text2,
 .header-text3,
 .header-text4 {
   animation: slideFromRight 2s forwards;
 }
 
 @keyframes moveAndFadeInLogo {
   0% {
     opacity: 0;
     transform: translateX(100%);
   }
   50% {
     transform: translateX(5%);
   }
   100% {
     opacity: 1;
     transform: translateX(0);
   }
 }
 
 @keyframes slideFromRight {
   to {
     opacity: 1;
     transform: translateX(0);
   }
 }
 
 
 
 .logo-container {
   animation-delay: 0s;
 }
 
 .header-text1 {
   font-size: 45px;
   animation-delay: 0.2s;
   position: relative;
   left: 290px;
 }
 
 .header-text2 {
   font-size: 40px;
   animation-delay: 0.4s;
   position: relative;
   left: 285px;
   top: -30px;
 }
 
 .header-text3 {
   font-size: 35px;
   animation-delay: 0.6s;
   position: relative;
   left: 285px;
   top: -60px;
 }
 
 .header-text4 {
   font-size: 14px;
   animation-delay: 0.8s;
   position: relative;
   left: 285px;
   top: -80px;
 }
 
  /****************Feedback Button************/
  /***body {
   font-family: 'Arial', sans-serif;
   background-color: #f4f4f4;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
 }*********/ /*******will be used if necessary*********/
 #feedbackModal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   max-width: 500px;
   width: 100%;
   padding: 30px;
   box-sizing: border-box;
   z-index: 1001; /* Ensure the modal is on top of the backdrop */
   text-align: center;
 }
 
 #feedbackForm {
   display: flex;
   flex-direction: column;
 }
 
 .feedbacklabel {
   font-weight: bold;
   margin-bottom: 8px;
 }
 
 .feedbacktext {
   resize: vertical;
   min-height: 180px;
   padding: 5px;
   margin-bottom: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }
 
 .feedbackbutton,
 .submitbutton,
 .cancelbutton {
   border-radius: 6px;
   cursor: pointer;
   transition: background-color 0.3s;
   position: absolute;
   border:none;
 
 }
 
 .feedbackbutton {
   background-color: #e25b21;
   color: #fff;
   left: 92%;
   top:93%;
   padding: 8px;
   position:fixed;
   z-index: 9999;
   
 }
 
 .submitbutton {
   background-color: #e25b21;
   color: #fff;
   right: 10px;
   bottom:10px;
   padding: 5px;
 }
 
 .cancelbutton {
   background-color: #bab6b4;
   color: #fff;
   left: 10px;
   bottom:10px;
   padding: 5px;
 }
 .cancelbutton:hover,
 .feedbackbutton:hover,
 .submitbutton:hover {
   background-color: #1c0b04;
 }
 
 /* Add a style to darken the background when the modal is displayed */
 .feedbackmodalbackdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: none;
   z-index: 1000; /* Ensure the backdrop is on top */
 }
 
 .feedbackresultpopup {
   background-color: #333;
   color: #fff;
   padding: 16px;
   border-radius: 4px;
   position: fixed;
   top: 30px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1002; /* Ensure the popup is on top of the modal */
   opacity: 0;
   transition: opacity 0.3s;
 }
 
 .feedbackresultpopup.show {
   opacity: 1;
 }
 
   
 
 /****************** Main Page Logo********* */
 /* header {
   background: url('https://media0.giphy.com/media/BHNfhgU63qrks/giphy.gif ') repeat;
   background-size: cover; 
   color: white; 
 } */
 .logo-container {
   position: relative; /* Ensure the container is positioned */
 }
 
 .logo-container img {
   width:300px; /* Adjust the width of the logo as needed */
   height: auto;
   position: absolute; /* Use absolute positioning */
   left: 1%; /* Move 50% from the left edge of the container */
   top: 5%; /* Move 50% from the top edge of the container */
   
 }
 
 
 /*************Contact Us*************/
 
 .floating-button1 {
   position: fixed;
   top: -5px; /* Adjust the top position as needed */
   right: -15px; /* Adjust the right position as needed */
   cursor: pointer;
   z-index: 9999; /* Ensures the button stays above other elements */
 }
 
 .floating-button1 img {
   width: 115px; /* Adjust the width of the button as needed */
   height: auto;
   transition: transform 0.3s ease-in-out;
 }
 
 .floating-button1 img:hover {
   transform: scale(1.1); /* Adjust the scale factor for hover effect */
 }
 
 
 .floating-button2 {
   position: fixed;
   top: 75px; /* Adjust the top position as needed */
   right: 15px; /* Adjust the right position as needed */
   cursor: pointer;
   z-index: 9999;
 }
 
 .floating-button2 img {
   width:50px; /* Adjust the width of the button as needed */
   height: auto;
   transition: transform 0.3s ease-in-out;
 }
 
 .floating-button2 img:hover {
   transform: scale(1.1); /* Adjust the scale factor for hover effect */
 }
 
 
 /*************Cursor Fun Events*************/
 
 .custom-pointer {
   position: fixed;
   width: 50px;
   height: 50px;
   background: url('https://th.bing.com/th/id/R.8fa41da1f4602b875dfe2ba5a3aff509?rik=CFhqLN6OVxIqkw&riu=http%3a%2f%2fclipart-library.com%2fimages%2f8cEbXkpLi.gif&ehk=dsjAdw1MsUpwICSCUvUW94MFeiU8yCijH1v2U6Dudig%3d&risl=&pid=ImgRaw&r=0') center/cover;
   border-radius: 100%;
   pointer-events: none; /* Ensure the custom pointer doesn't interfere with other elements */
   transition: transform 0.1s ease-out; /* Add a smooth transition effect */
   z-index: 9999;
 }
 
 
   /*****Navigation Bar Options********/
  
 
   nav { 
     background-color: #333;
     z-index: 1;
   }
   
   nav ul {
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
     z-index: 1;
   }
   
   nav li {
     margin: 0;
   }
   
   nav a {
     display: block;
     padding: 12px;
     text-decoration: none;
     color: white;
     transition: background-color 0.3s ease;
   }
   
   nav a:hover {
     background-color: #555;
   }
   
   /* Additional button options when the cursor moves on them */
   nav li:hover ul {
     display: flex;
     flex-direction: column;
     position: absolute;
     background-color: #333;
     border: 1px solid #555;
   }
   
   nav li ul {
     display: none;
   }
   
   nav li ul li {
     padding: 10px;
   }
 
   /* .blinking-button {
     white-space: nowrap;
     animation: marquee 10s linear infinite;
     z-index: 2;
   }
   
   @keyframes marquee {
     0% {
       transform: translateX(250%);
     }
     100% {
       transform: translateX(5%);
     }
   } */

   .loginbtn{
    position: absolute;
    right: 1%;
   }
  /********Admission Corner***********/
  .admission-img-btns {
   display: flex;
   justify-content: space-around;
   margin-top: 1px;
   z-index: -1;
 }
 
 .admission-img-btn {
   position:relative;
   text-align: center;
   background: #ffffff;
   /* Blurry white background */
   backdrop-filter: blur(100px);
   /* Blurring effect */
   border-radius: 10px;
   padding-left: 180px;
   padding-right: 180px;
   padding-top: 80px;
   padding-bottom: 10px;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
   cursor: pointer;
   margin: 10px 10px;
 }
 
 .admission-img-btn:hover {
   transform: perspective(500px) rotateY(0deg);
 }
 .ambitiousimg {
   position: relative;
   bottom: 8px;
 }
 .innovativeimg {
   position: relative;
   bottom:5px;
 }
 .ambitioush3 {
   position: relative;
   top: 5px;
 }
 .innovativeh3{
   position:relative;
   bottom:-7px;
 }
 .impactfulimg {
   position: relative;
   top:-25px;
 }
 .impactfulh3 {
   position: relative;
   bottom:10px;
 }
 
 
 /********** Space Container **********/  
 
 *{
   /* margin: 0;
   padding:0; */
   box-sizing: border-box;
 }
 body{
 font-family: "segoe UI", sans-serif;
 height:80vh;
 
 }
 .space-container{
   background-image: url(https://wallpapercave.com/wp/wp4865484.jpg);
   background-size:cover; 
  background-repeat: no-repeat;
  background-position: center center;
   position:relative;
   width:100%;
   height:100%;
   display:flex;
   justify-content: center;
   align-items: center;
   /* overflow:   hidden; */
 }
 .space-container img{
   position:absolute;
   width:100%;
   height:100%;
   top:0;
   left:0;
   object-fit: contain;
 }
 .space-container h2{
   z-index: 1;
   position:relative;
   color:#ffffff;
   font-size: 90px;
   text-transform:uppercase;
   font-weight: 900;
   letter-spacing: 32px;
 }
 .space-container h2 span{
   font-size: 48px;
   font-weight:500;
   letter-spacing:10px;
 }
 
 @media (max-width:800px){
   .space-container h2{
     font-size:60px;
     letter-spacing: 19px;
     line-height:35px;
   }
   .space-container h2 span{
     font-size:26px;
 
   }
 }
 /********************** **********/
 
 
 
 /********** About Photos Section **********/
 
 .about-img-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
 }
 
 .about-photos {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .about-large-photo img {
   width: 500px;
   height: auto;
   text-align: center;
   background-color: #f8f9fa;
   border: 5px solid #9c9d9e;
   border-radius: 8px;
 }
 
 /* .about-small-photo img {
   position: relative;
   top: -4cm; 
   left: 10cm; 
   max-width: 45%; 
   height: auto;
 } */
 
 /*********About Paragraph Section*********/
 .about {
   flex: 1;
   padding: 20px;
   position: relative;
   top:auto;
  
 }
 
 .about p1 {
   font-weight: bold;
   font-size: 16px;
   line-height: 1.5;
 }
 .about p2 {
   font-size: 15px;
   line-height: 1.5;
 }
 .about h2 {
   font-size: 24px;
   margin-bottom: 10px;
 }
 /****************History SEction*************/
 .history{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  
  background-size: cover;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  overflow: hidden;
}


@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.history{         
  display: flex;
justify-content: space-between;
padding: 20px;
background: url('https://i.postimg.cc/V66Vmj9F/wallpapersden.com_planet-in-space-4k_4200x2280.jpg' ) no-repeat center center fixed;
background-size: cover;
}
.history-para {
  font-weight: bold;
flex: 1;
padding: 20px;
width: 40px;
box-sizing: border-box;

}

.know-more button{
background-color: rgb(70, 138, 240);
color: #ffffff;
padding: 10px;
border:none;
border-radius: 8px;
}
 
 
 /************Partners*************/
 .partner {
   display: flex;
   justify-content: space-around;
   margin-top: 1px;
   z-index: -1;
 }
 .partner img {
   aspect-ratio: 3/2;
   object-fit: contain;
 }.partnerh{
   text-align: center;
 }
 
 .partner {
   position:relative;
   text-align: center;
   background: #ffffff;
   backdrop-filter: blur(100px);
   border-radius: 8px;
   padding-top: 80px;
   padding-bottom: 70px;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
   
   margin: 50px;
 
   
 }
 .partnersdiv img{
   position: relative;
   bottom:50px;
 }
 
 .partnersdiv:hover {
   transform: perspective(500px) rotateY(0deg);
 }
 .partnersh{
   position: relative;
   bottom:70px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 /**********AssociationWWith**************************/
 .associationwith1, .associationwith2, .associationwith3, .associationwith4, .associationwith5, .associationwith6 {
   display: flex;
   justify-content: space-around;
   margin-top: 1px;
   z-index: -1;
 }
 
 .associationwith1  {
   position:absolute;
   text-align: center;
   background: #ffffff;
   backdrop-filter: blur(100px);
   border-radius: 10px;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 100px;
   padding-bottom: 5px;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
   /* transition: transform 0.3s ease; */
   cursor: pointer;
   margin: 1px 10px;
   left:3%;
   z-index: 5;
 }
 
 .associationwith2  {
   position:absolute;
   text-align: center;
   background: #ffffff;
   backdrop-filter: blur(100px);
   border-radius: 10px;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 100px;
   padding-bottom: 5px;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
   /* transition: transform 0.3s ease; */
   cursor: pointer;
   margin: 1px 10px;
   left:19%;
   z-index: 5;
 }
 .associationwith3  {
   position:absolute;
   text-align: center;
   background: #ffffff;
   backdrop-filter: blur(100px);
   border-radius: 10px;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 100px;
   padding-bottom: 5px;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
   /* transition: transform 0.3s ease; */
   cursor: pointer;
   margin: 1px 10px;
   left:35%;
   z-index: 5;
 }
 .associationwith4  {
   position:absolute;
   text-align: center;
   background: #ffffff;
   backdrop-filter: blur(100px);
   border-radius: 10px;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 100px;
   padding-bottom: 5px;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
   /* transition: transform 0.3s ease; */
   cursor: pointer;
   margin: 1px 10px;
   left:51%;
   z-index: 5;
 }
 .associationwith5 {
   position:absolute;
   text-align: center;
   background: #ffffff;
   backdrop-filter: blur(100px);
   border-radius: 10px;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 100px;
   padding-bottom: 5px;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
   
   cursor: pointer;
   margin: 1px 10px;
   left:67%;
   z-index: 5;
 }
 .associationwith6  {
   position:absolute;
   text-align: center;
   background: #ffffff;
   backdrop-filter: blur(100px);
   border-radius: 10px;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 100px;
   padding-bottom: 5px;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
   
   cursor: pointer;
   margin: 1px 10px;
   left:83%;
   z-index: 5;
 }
 
 
 .associationwith1 img{
   position: relative;
   bottom:50px;
   aspect-ratio: 3/2;
   object-fit: contain;
 }
 .associationwith2 img{
   position: relative;
   bottom:50px;
   aspect-ratio: 3/2;
   object-fit: contain;
 }
 .associationwith3 img{
   position: relative;
   bottom:50px;
   aspect-ratio: 3/2;
   object-fit: contain;
 }
 .associationwith4 img{
   position: relative;
   bottom:50px;
   aspect-ratio: 3/2;
   object-fit: contain;
 }
 .associationwith5 img{
   position: relative;
   bottom:50px;
   aspect-ratio: 3/2;
   object-fit: contain;
 }
 .associationwith6 img{
   position: relative;
   bottom:50px;
   aspect-ratio: 3/2;
   object-fit: contain;
 }
 
 .associationwith1:hover {
   transform: perspective(500px) rotateY(0deg);
   transform: perspective(500px) rotateY(0deg) scale(1.1); /* Add scale(1.1) for enlargement */
     z-index: 10;
     box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3); 
 }
 .associationwith2:hover {
   transform: perspective(500px) rotateY(0deg);
   transform: perspective(500px) rotateY(0deg) scale(1.1); /* Add scale(1.1) for enlargement */
     z-index: 10;
     box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3); 
 }
 .associationwith3:hover {
   transform: perspective(500px) rotateY(0deg);
   transform: perspective(500px) rotateY(0deg) scale(1.1); /* Add scale(1.1) for enlargement */
     z-index: 10;
     box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3); 
 }
 .associationwith4:hover {
   transform: perspective(500px) rotateY(0deg);
   transform: perspective(500px) rotateY(0deg) scale(1.1); /* Add scale(1.1) for enlargement */
     z-index: 10;
     box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3); 
 }
 .associationwith5:hover {
   transform: perspective(500px) rotateY(0deg);
   transform: perspective(500px) rotateY(0deg) scale(1.1); /* Add scale(1.1) for enlargement */
     z-index: 10;
     box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3); 
 }
 .associationwith6:hover {
   transform: perspective(500px) rotateY(0deg);
   transform: perspective(500px) rotateY(0deg) scale(1.1); /* Add scale(1.1) for enlargement */
     z-index: 10;
     box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3); 
 }
 .associationwith {
  text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .assh2{
   position:relative;
   bottom:70px;
 }
 
 
 
 /**************GalLery Section*******************/
 
 
 .gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 20px;
 }
 
 .gallery-item {
   cursor: pointer;
   transition: transform 0.3s;
 }
 
 .gallery-item img {
   width: 100%;
   height: auto;
 }
 
 .gallerymodal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.9);
 }
 
 .gallery-modal-content {
   width: 50%;
   height: auto;
   margin: auto;
   display: block;
 }
 
 .galleryclose {
   color: white;
   font-size: 2em;
   position: absolute;
   top: 20px;
   right: 30px;
   cursor: pointer;
 }
 .galleryh{
   text-align: center;
 }
 
 .floating-logo1,
 .floating-logo2,
 .floating-logo3 {
   display: inline-block;
   margin: 10px;
   transform: rotate(0deg); /* Add a slight rotation for a cartoonish effect */
   position: bottom;
   bottom: 20px; /* Adjust the bottom property to move it to the desired distance from the bottom edge */
 }
 
 .floating-logo1 img,
 .floating-logo2 img,
 .floating-logo3 img {
   width: 70px;
   height: auto;
   border-radius: 50%; /* Make the logos circular */
   border: 5px solid #e7b521; /* Match the background color for a reflective border */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
  /* Add a subtle shadow for a 3D effect */
 
 
 
 
  /* Custom CSS for horizontal layout */
  .quick-links {
   display: flex;
   justify-content: space-between;
   margin: 20px;
  
 }
 
 /* Custom CSS for individual quick links */
 
 .quick-link {
   width: 23%; 
   padding: 5px;
   text-align: center;
   background-color: #ffffff;
   border: 1px solid #dee2e6;
   border-radius: 8px;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out; /* Added opacity transition */
   opacity: 0; 
  
 }
 
 /* Add animation on hover */
 .quick-link:hover {
   transform: scale(1.1);
 }
 
 /* Add animation for fade-in effect */
 @keyframes fadeIn {
   to {
     opacity: 1;
   }
 }
 /* Apply fade-in effect to each quick link */
 .quick-links .quick-link:nth-child(1) {
   animation: fadeIn 0.5s forwards 0.3s; /* Adjust delay as needed */
 }
 
 .quick-links .quick-link:nth-child(2) {
   animation: fadeIn 0.5s forwards 0.6s; /* Adjust delay as needed */
 }
 
 .quick-links .quick-link:nth-child(3) {
   animation: fadeIn 0.5s forwards 0.9s; /* Adjust delay as needed */
 }
 
 .quick-links .quick-link:nth-child(4) {
   animation: fadeIn 0.5s forwards 1.2s; /* Adjust delay as needed */
 }
 
 .benefitsh1{
   text-align: center;
   font-family:monospace;
   font-size: 50px;;
 }
 
 /* Custom CSS for images */
 .quick-link img {
   max-width: 100%;
   height: auto;
   border-radius: 8px;
   margin-bottom: 10px;
 }
 
 footer
 {
   background-color: #bebebb; /* Cartoonish background color */
   text-align: center;
   padding: 10px;
   position: bottom;
   bottom: 0;
   width: 100%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a 3D effect */
 }
 
 /**********************/
 
 
 /******Message*****/
 body {
   margin: 0;
   font-family: Arial, sans-serif;
 }
 
 .new-popup {
   display: none;
   position: fixed;
   top: -100px;
   left: -100px;
   background-color: rgba(21, 21, 20, 0.8);
   color: #fff;
   padding: 5px;
   border-radius: 20px;
   text-align: center;
   z-index: 1000;
   transition: top 0.5s, left 0.5s;
 }
 
 .new-popup-content {
   max-width: 400px;
   margin: 0 auto;
 }
 
 .new-close-btn {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size:30px;
   cursor: pointer;
 }
 
 
 
